<!DOCTYPE html>

<html>

    <%- include ('partials/data.ejs') %>

    <div>
        <button>
            <a href="/">Cloud</a>
        </button>

        <button>
            <a href="">Dashboard</a>
        </button>

    </div>
</html>