<!DOCTYPE html>

<html>

    <%- include ('partials/data.ejs') %>

    <script src="/edge_sensor.js" type="text/javascript" charset="utf-8"></script>

    <div>
        <button>
            <a href="/">Cloud</a>
        </button>

        <button>
            <a href="http://demo.thingsboard.io:/dashboard/e1898830-9dc0-11ea-8119-a1c39468fcf6?publicId=dfa0b6f0-6c1b-11ea-ad02-b3576b7d39f1">Latest activities</a>
        </button>
    </div>

    <div>
        <h3>User activity</h3>

        <div id="activity" class="rectangle">Activity</div>
    </div>

    <br>
    <br>

</html>