<!DOCTYPE html>

<!-- A very simple html page -->

<html>

    <!-- Include the partial view common to both edge and cloud deployment -->
    <%- include ('partials/data.ejs') %>

    <script src="/cloud_sensor.js" type="text/javascript" charset="utf-8"></script>

    <div>
        <button>
            <a href="/edge">Edge</a>
        </button>

        <button>
            <a href="http://demo.thingsboard.io:/dashboard/8f004420-6dbc-11ea-8e0a-7d0ef2a682d3?publicId=dfa0b6f0-6c1b-11ea-ad02-b3576b7d39f1">Dashboard</a>
        </button>
    </div>

    <br>
    <br>

</html>