<!DOCTYPE html>

<!-- A very simple html page -->

<html>

    <!-- Include the partial view common to both edge and cloud deployment -->
    <%- include ('partials/data.ejs') %>

    <div>
        <button>
            <a href="/edge">Edge</a>
        </button>

        <button>
            <a href="http://demo.thingsboard.io/dashboards/8f004420-6dbc-11ea-8e0a-7d0ef2a682d3">Dashboard</a>
        </button>
    </div>

</html>