nav {
    background-color: #305680;
    padding: 20px 10px;
}
body {
    margin: 0px;
}
div {
    margin-top: 12px;
    margin-left: 12px;
}
span {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: xx-large;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #305680;
}
#error_message {
    color: darkred;
}